.users{

}
.userBlock{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.userAvatarButtonBlock{
    border-radius: 50%;
    background-color: blanchedalmond;
    width: 10%;
}
.avatar{
    display: flex;
    justify-content: center;
    padding-top: 10px
}
.avatar img {
    width: 50px;
    
}
.buttonFollow{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.buttonFollow button{
    background-color: rgb(25, 27, 27);
    color: rgba(245, 238, 236, 0.904);
}
.userInfoBlock{
    background-color: blanchedalmond;
    align-self: center;
    padding: 10px;
    width: 80%;
    border-color: rgb(196, 168, 174);
    border-style: solid;
    border-radius: 15px;
}
.userInfoBlock span{
    color: rgb(165, 163, 42);
    font-size: small;
}
.userNameAndCountry{
    display: flex;
    justify-content: space-between;
    
}
.userName{
    color: rgb(63, 61, 32);
    font-size: 30px;
}
.userCountry{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.userStatusAndCity{
    display: flex;
    justify-content: space-between;
}
.userStatus{
    font-style: italic;
}
.userCity{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    