.answer{
   
    color: rgb(197, 39, 126);
    padding: 10px;
    background: rgb(226, 217, 211);
    border-radius: 50%;
    display: flex;
    justify-content: center;
   
    text-align: center;
}
