.nav{
  background: url('https://videohive.img.customer.envatousercontent.com/files/229460012/Preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a2460767e2d04ba57677b1efbd108c6f');
  /* margin-top: 10px; */
  margin-right: 10px ;
    grid-area: nav;
    /* height 500px; */
  }
  .item{   
    margin: 20px; 
  }
  .item a{
    color: rgb(216, 228, 238);
    text-decoration: none;
  }
  .item a:hover{
    color: aquamarine;
  }
  .item a.active{
    color:coral;
  }