.block{
margin: 80px 20px 20px 20px;
}
.block h3{
    display: flex;
    justify-content: center;
    color: seashell;
}
.friends{
     display: flex;
    justify-content: space-around;
    color: seashell;
}
/* .friendsInfo{
    text-align: center;
}
.friendsInfo img{
    width: 20px;
    height: 20px;
} */